nav {
	background-color: purple;
	display: flex;
	height: 100%;
	position: absolute;
	padding: 2rem;
	top: 0;
	left: 0;
	transition: transform 0.3s ease-in-out;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	z-index: 10;

	a {
		color: white;
		font-size: 2rem;
		text-transform: uppercase;
		text-decoration: none;
		padding: 2rem 0;
		font-weight: bold;
		letter-spacing: 0.5rem;
	}

}

.burger {
	position: absolute;
	top: 5%;
	left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 100;

	&:focus {
		outline: none;
	}

	div {
		width: 2rem;
		height: 0.25rem;
		background: purple;
		border-radius: 10px;
		transition: all 0.3s linear;
		position: relative;
		transform-origin: 1px;
	}
}

.burger.open {
	:first-child {
		transform: rotate(45deg);
		background: white;
	}

	:nth-child(2) {
		opacity: 0;
		transform: translateX(20px);
	}

	:nth-child(3) {
		transform: rotate(-45deg);
		background: white;
	}
}

@media (min-width: 768px) {
	nav {
		width: auto;
	}
}